@charset "utf-8";
/* CSS Document */

#wrapper{
	width:100%;
	height:80px;
	background-color:#CCC;
	margin:0 auto;
}
#header{
	height:100px;
	width:100%;
	background-color:#000000;
	margin-top: -1.2%;	

}
.nav{
	width:96%;
	float:left;
	margin-left:2%;
	margin-right:2%;
	font-family:Arial, Helvetica, sans-serif;
		
}
nav ul ul {
	display: none;
	z-index: 9999;
}

	nav ul li:hover > ul {
		display: block;

}
nav ul {
	background: #efefef; 
	background: linear-gradient(top, #353535 0%, #CCCCCC 100%);  
	background: -moz-linear-gradient(top, #353535 0%, #CCCCCC 100%); 
	background: -webkit-linear-gradient(top, #353535 0%,#CCCCCC 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
}
	/*nav color box*/
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #787878 0%, #2E2E2E 20%);
		background: -moz-linear-gradient(top, #787878 0%, #2E2E2E 20%);
		background: -webkit-linear-gradient(top, #787878 0%,#2E2E2E 20%);
		
}
/*color of hover main text*/
nav ul li:hover a {
			color: #CCC;
}
/*color of main text	*/
nav ul li a {
		display: block; padding: 25px 30px;
		color: #000000; text-decoration: none;
}

	/*color of sub nav box*/
nav ul ul {
	background: #333333; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	width: 200px;
}

/*border colors of sub navs*/
nav ul ul li {
		float: none; 
		border-top: 1px solid #959595;
		border-bottom:1px solid #6C6C6C;
		position: relative;
}
nav ul ul li a {
		padding: 15px 40px;
}

/*hover color of sub navs*/	
nav ul ul li a:hover {
		background: #666666;
}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}