@charset "utf-8";
*
{
	margin:0px;
	padding:0px;
}
#wrapper {
	width:100%;
	margin:0px auto;
}
#header 
{
	height:100px;
	width:100%;
}
#nav 
{
	width:200px;
	float:left;
	background-color:;
}
#content 
{
	width:760px;
	height:400px;
	float:right;
	background-color:#fff;
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #630;
	border:1px solid #999;
	margin-right:30px;
}
body {
	/* background-image:url(../images/new-back2.png); */
	background-color:#CCCCCC;
	background-repeat: repeat;
	text-align: center;
	
}
