#headerMenu
{
	width: 100%;
	height: 50px;
}

#maincontent
{
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
}

.error {
	color: #ff0000;
}

.mandatory
{
	color:red;
}

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }
 .headingbackground
  {
  height:25px;
  width:210px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-radius: 5px;
  background: #DCE3E6;
  background: -webkit-gradient(linear, left top, left bottom, from(#CBD1D4), to(#B7BDBF));
  background: -moz-linear-gradient(top,  #CBD1D4,  #B7BDBF);
  
  }