#login-box {
	width:333px;
	height: 160px;
	padding: 58px 76px 0 76px;
	color: #666;
	font: 12px Arial, Helvetica, sans-serif;
	
}

#login-box img {
	border:none;
}

#login-box h2 {
	padding:0;
	margin:0;
	color:#666;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 14px 10px 0 0;
	margin:0 0 7px 0;
	color:#FFFFFF;
}

#login-box-field {
	float: left;
	display:inline;
	width:200px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 7px;
	margin-left: 0;
}


.form-login  {
	width: 205px;
	border: 1px solid #CCC;
	background-color:#fff;
	font-size: 26px;
	color: #000000;
	height: 15px;
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 6px;
	padding-left: 3px;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 11px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 11px;
}
