@charset "utf-8";
/* CSS Document */
body{
	
	
    background: url(../images/Login_Background.png); 
    background-size: 100% 600px;
    background-repeat: no-repeat;
    
	/* background: -webkit-linear-gradient(top, #333333 0%,#999999 100%); 
	background: -moz-linear-gradient(top, #333333 0%,#999999 100%); */
}
#content{
	/* width:40%;
	height:328xp; */
	/* background-image:url(../images/login_page2.png); */
	margin-top:0%;
	margin-left:30%;
}
.text{
	color:#CCCCCC;
	font-size:30px;
	font-family:Georgia, "Times New Roman", Times, serif;
	float:left;
	margin-left:12%; 
}
.form{
	height:100px;
	float:left;
	margin-left:15%;
	font-size:14px;
			
}

.login{
	margin-top:10%;
	float:right;
	
}
#sessionDiv{
	width:99%;
	height:20px;
	color: white;
	margin-left: 39%;
	margin-top: 10%;
}
.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  height: 30px;
  width: 90px;
  padding: 3px 5px 5px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c63;
  background-image: -webkit-linear-gradient(top, #fc3c63, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c63, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c63, #d93434);
  background-image: -o-linear-gradient(top, #fc3c63, #d93434);
  background-image: linear-gradient(to bottom, #fc3c63, #d93434);
  text-decoration: none;
}
