@charset "utf-8";
/* CSS Document */
body{
	background-color:#CCCCCC;
}
#wrapper{
	width:100%;
	height:650px;
	background-color:#999;
	margin:0 auto;
}
#header{
	width:100%;
	background-color:#333333;
	height:100px;	
}
#box{
	width:100%;
	height:100px;
	background-color:#666666;
	margin-top: -2.5%;	
}
.nav{
	margin-top:-1%;
	float:left;
	width:96%;
	margin-left:2%;
	margin-right:2%;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;

}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;

}
nav ul {
	background: #efefef; 
	background: linear-gradient(top, #353535 0%, #CCCCCC 100%);  
	background: -moz-linear-gradient(top, #353535 0%, #CCCCCC 100%); 
	background: -webkit-linear-gradient(top, #353535 0%,#CCCCCC 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}


	nav ul:after {
		content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
}
	/*nav color box*/
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #787878 0%, #2E2E2E 20%);
		background: -moz-linear-gradient(top, #787878 0%, #2E2E2E 20%);
		background: -webkit-linear-gradient(top, #787878 0%,#2E2E2E 20%);
}
/*color of hover main text*/
nav ul li:hover a {
			color: #CCC;
}
/*color of main text	*/
nav ul li a {
		display: block; padding: 25px 40px;
		color: #000000; text-decoration: none;
}

	/*color of sub nav box*/
nav ul ul {
	background: #333333; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

/*border colors of sub navs*/
nav ul ul li {
		float: none; 
		border-top: 1px solid #959595;
		border-bottom:1px solid #6C6C6C;
		position: relative;
}
nav ul ul li a {
		padding: 15px 40px;
}

/*hover color of sub navs*/	
nav ul ul li a:hover {
		background: #666666;
}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
.content{
	width:100%;
	height:500px;	
	
}
.cont1{
	width:70%;
	height:550px;
	background-color:#CCC;
	background-image:url(WATERMARK/watermark1.png);	
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	text-align:left;
	margin-top: -1%;
	
}

.cont2{
	width:30%;
	height:550px;
	background-color:#FFF;
	float:right;
	margin-top: -1%;
}
.bday{
	width:300px;
	height:148px;
	background-color:#FFF;
	float:right;
	margin-left:12%;
	margin-right:12%;
	margin-top:9%;
		
}
.text{
	height:20px;
	background:#000;
	color:#FFFFFF;	
	font-size:10px;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	line-height:20px;
	
}
.text2{
	float:left;	
	margin-left:30px;	
}
.text3{
	float:right;
	margin-right:30px;
}
.msg{
	width:300px;
	height:148px;
	background-color:#FFF;
	float:right;
	margin-left:12%;
	margin-right:12%;	
}
.tcard{
	width:300px;
	height:148px;
	background-color:#FFF;
	float:right;
	margin-left:12%;
	margin-right:12%;	
	
}
#footer{
	width:100%;
	height:70px;
	background-color:#666;	
}