@charset "utf-8";
/* CSS Document */
#wrapper{
	width:80%;;
	height:450px;
	
}
.form_box{
	width:50%;
	overflow-y:auto;
	height:400px;
	background-color:#CCC;
	margin-top:3%;
	color:#686262;
	font:Verdana, Geneva, sans-serif;
	font-size:16px;	
	float:left;
	margin-left:25%; 
}
.login{
	width:200px;
	height:30px;
	float:right;
	margin-right:15px;
	
}